<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero-btn-link-wrap">
      <div class="hero-btn-link">
        <button type="button" class="hero-btn">Buy now</button>
        <a href="#made" class="hero-link-made">How it’s made</a>
        <a href="#sellers" class="hero-link-sellers">Top sellers</a>
      </div>
      <a href="#footer" class="hero-link-scroll"
        >scroll down
        <span class="scroll-round">
          <svg class="icon-scroll" width="16" height="16">
            <use href="/img/icons.svg#icon-scroll"></use>
          </svg> </span
      ></a>
    </div>
  </div>
</section>
