<section class="products stop">
  <div class="container">
    <h2 class="products-title">
      Our <span class="products-title-orange">products</span>
    </h2>
    <ul class="products-list">
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-1.webp    1x,
              /img/products/shoko-1@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-1.webp"
            alt="shocolade-orange"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">orange</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">45 UAH</p>
        </div>
      </li>
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-2.webp    1x,
              /img/products/shoko-2@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-2.webp"
            alt="APPLE&CRANBERRY"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">APPLE&amp;CRANBERRY</h3>
          <p class="products-text">Milk chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">50 UAH</p>
        </div>
      </li>
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-3.webp    1x,
              /img/products/shoko-3@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-3.webp"
            alt="lime&sea salt chocolate"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">lime&amp;sea salt</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">66 UAH</p>
        </div>
      </li>
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-4.webp    1x,
              /img/products/shoko-4@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-4.webp"
            alt="pineapple-shocolate"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">pineapple</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">54 UAH</p>
        </div>
      </li>
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-5.webp    1x,
              /img/products/shoko-5@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-5.webp"
            alt="chocolate Classic"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">Classic</h3>
          <p class="products-text">Milk chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">45 UAH</p>
        </div>
      </li>
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-6.webp    1x,
              /img/products/shoko-6@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-6.webp"
            alt="chocolate honey"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">honey</h3>
          <p class="products-text">Milk chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">50 UAH</p>
        </div>
      </li>
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-7.webp    1x,
              /img/products/shoko-7@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-7.webp"
            alt="chocolate Roasted fruits"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">Roasted fruits</h3>
          <p class="products-text">Dark chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">66 UAH</p>
        </div>
      </li>
      <li class="products-item">
        <picture>
          <source
            media=""
            srcset="
              /img/products/shoko-8.webp    1x,
              /img/products/shoko-8@2x.webp 2x
            " />

          <img
            src="/img/products/shoko-8.webp"
            alt="chocolate Classic"
            width="230"
            height="201"
            class="products-img"
        /></picture>

        <div class="products-description">
          <h3 class="products-subtitle">Classic</h3>
          <p class="products-text">White chocolate</p>
        </div>
        <div class="products-price-wrap">
          <p class="products-price">54 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
