<section class="taste stop">
  <div class="container">
    <h2 class="taste-title">
      It all adds up to one exceptional
      <span class="taste-title-orange">taste</span> sensation
    </h2>
    <ul class="taste-list">
      <li class="taste-item taste-item-one">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/shocolate-desk.webp    1x,
              /img/taste/shocolate-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/shocolate-mob$tab.webp    1x,
              /img/taste/shocolate-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/shocolate-mob$tab.webp"
            alt="shocolate"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>
        <h3 class="taste-subtitle taste-subtitle-white">mILK CHOCOLATE</h3>
      </li>
      <li class="taste-item taste-item-two">
        <svg class="card-over card-over-two" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/milk-desk.webp    1x,
              /img/taste/milk-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/milk-mob$tab.webp    1x,
              /img/taste/milk-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/milk-mob$tab.webp"
            alt="milk"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">Milk</h3>
      </li>
      <li class="taste-item taste-item-three">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/nuts-desk.webp    1x,
              /img/taste/nuts-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/nuts-mob$tab.webp    1x,
              /img/taste/nuts-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/nuts-mob$tab.webp"
            alt="nuts"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle taste-subtitle-white">nuts</h3>
      </li>
      <li class="taste-item taste-item-four">
        <svg class="card-over card-over-four" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/semi-desk.webp    1x,
              /img/taste/semi-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/semi-mob$tab.webp    1x,
              /img/taste/semi-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/semi-mob$tab.webp"
            alt="semi-sweet-chocolate"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">sEMI - SWEET CHOCOLATE</h3>
      </li>
    </ul>
  </div>
</section>
