<section class="taste">
  <div class="container">
    <h2 class="taste-title">
      It all adds up to one <br />exceptional
      <span class="taste-title-orange">taste</span> sensation
    </h2>
    <ul class="taste-list">
      <li class="taste-item">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/shocolate-desk.webp    1x,
              /img/taste/shocolate-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/shocolate-mob$tab.webp    1x,
              /img/taste/shocolate-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/shocolate-mob$tab.webp"
            alt="shocolate"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>
        <h3 class="taste-subtitle">mILK CHOCOLATE</h3>
      </li>
      <li class="taste-item">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/milk-desk.webp    1x,
              /img/taste/milk-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/milk-mob$tab.webp    1x,
              /img/taste/milk-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/milk-mob$tab.webp"
            alt="milk"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">Milk</h3>
      </li>
      <li class="taste-item">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/nuts-desk.webp    1x,
              /img/taste/nuts-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/nuts-mob$tab.webp    1x,
              /img/taste/nuts-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/nuts-mob$tab.webp"
            alt="nuts"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">nuts</h3>
      </li>
      <li class="taste-item">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/semi-desk.webp    1x,
              /img/taste/semi-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/semi-mob$tab.webp    1x,
              /img/taste/semi-mob$tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/semi-mob$tab.webp"
            alt="semi-sweet-chocolate"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">sEMI - SWEET CHOCOLATE</h3>
      </li>

      <li class="taste-item">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/cacao-desk.webp    1x,
              /img/taste/cacao-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/cacao-tab.webp    1x,
              /img/taste/cacao-tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/cacao-tab.webp"
            alt="CACAO"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">CACAO</h3>
      </li>

      <li class="taste-item">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/raspberry-desk.webp    1x,
              /img/taste/raspberry-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/raspberry-tab.webp    1x,
              /img/taste/raspberry-tab@2x.webp 2x
            "
          />

          <img
            src="/img/taste/raspberry-tab.webp"
            alt="RASPBERRY"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">RASPBERRY</h3>
      </li>

      <li class="taste-item">
        <svg class="card-over" width="24" height="24">
          <use href="/img/icons.svg#icon-card-over"></use>
        </svg>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/taste/coconut-desk.webp    1x,
              /img/taste/coconut-desk@2x.webp 2x
            "
          />

          <source
            media="(max-width: 1199px)"
            srcset="
              /img/taste/coconut-tab.webp    1x,
              /img/taste/coconut-tab@2x.webp 2x
            "
          />

          <img
            src="/img//taste/coconut-tab.webp"
            alt="COCONUT OIL"
            width="236"
            height="176"
            class="taste-img"
          />
        </picture>

        <h3 class="taste-subtitle">COCONUT OIL</h3>
      </li>
    </ul>
  </div>
</section>
