.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.container-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--main);
  margin-right: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo-italic {
  font-style: italic;
}

.icon-logo {
  fill: #fcf1e0;
  stroke-width: 1.8px;
  stroke: #fd9222;
}

.icon-menu {
  stroke-width: 2px;
  stroke: #111;
}

.header-nav {
  display: none;
}

.header-social-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 20px;
  }

  .icon-menu {
    display: none;
  }

  .header-nav-soc-wrap {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-list {
    display: flex;
    gap: 20px;
  }

  .header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--main);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header-social-list {
    display: flex;
    gap: 14px;
  }


  .header-social-link {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-social-svg {
    width: 24px;
    height: 24px;
    position: relative;
  }

  .heder-social-inst-point {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #1e1823;
  }
}

@media screen and (min-width: 1200px) {
  .logo-text {
    font-size: 18px;
    line-height: 1.11;
  }

  .icon-logo {
    width: 24px;
    height: 24px;
  }

  .header-nav-soc-wrap {
    gap: 90px;
  }

  .header-nav-list {
    gap: 24px;
  }
}

/* ================ M E N U =========================== */

.modal-menu {
  position: fixed;
  background-color: #1e1823;
  max-width: 220px;
  min-height: 100vh;
  top: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.menu-container {
  padding: 136px 20px 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  padding: 5px;
  background-color: transparent;
  border: none;
  margin-bottom: 88px;
}
.menu-close-icon {
  fill: none;
  stroke-width: 2px;
  stroke: #fff;
}

.modal-nav-soc-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  min-height: 100%;
}

.modal-social-list {
  display: flex;
  gap: 14px;
}
.modal-social-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-social-svg {
  stroke: var(--main);
  fill: var(--accent);
  position: relative;
}

.modal-inst-point {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--accent);
}

.modal-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--accent);
}
