.made {
  padding-bottom: 80px;
}

.made-img-list-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

.made-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main);
  margin-bottom: 32px;
}

.made-title-orange {
  color: #fd9222;
}

.made-list-wrap {
  padding: 20px 14px;
  background-color: var(--accent);
  border-radius: 15px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--main);
  margin-bottom: 20px;
}

.made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.made-item {
  display: flex;
  align-items: baseline;
}

.made-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main);
}

.list-point {
  flex-shrink: 0;
  margin-right: 8px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #4c4c4c;
  border: 1px solid rgba(236, 237, 237, 1);
}

@media screen and (min-width: 768px) {
  .made {
    padding-bottom: 100px;
  }

  .made-container {
    padding: 0 77px;
  }

  .made-title {
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 50px;
  }

  .made-icon-play {
    display: none;
  }

  .made-list-wrap {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .made-img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .made {
    padding-bottom: 120px;
  }

  .made-container {
    padding: 0 32px;
  }

  .made-img-list-wrap {
    flex-wrap: nowrap;
  }

  .made-img {
    margin-bottom: 0;
  }

  .made-list-wrap {
    box-sizing: border-box;
    max-width: 516px;
  }
}
