.products {
  padding-bottom: 80px;
}

.products-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main);
  margin-bottom: 32px;
}

.products-title-orange {
  color: var(--orange);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.products-item {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  padding: 32px 52px;
}

.products-img {
  margin-bottom: 8px;
}

.products-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 18px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main);
}

.products-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-price-wrap {
  box-sizing: border-box;
  display: block;
  margin: auto;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 18px;
  max-width: 94px;
  max-height: 33px;
}

.products-price {
  font-weight: 600;
  font-size: 14px;
  color: var(--main);
}

@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 100px;
  }

  .products-title {
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 50px;
  }
  .products-title-orange {
  }
  .products-list {
  }
  .products-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 120px;
  }
  .stop {
  }
  .container {
  }
  .products-title {
  }
  .products-title-orange {
  }
  .products-list {
    row-gap: 24px;
    column-gap: 18px;
  }
  .products-item {
    padding: 32px 20px;
    width: calc((100% - 18px * 3) / 4);
  }
}
