.taste {
  margin-bottom: 80px;
  margin-top: 80px;
}

.taste-title {
  display: block;
  margin: auto;
  max-width: 283px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}

.taste-title-orange {
  color: var(--orange);
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px 28px;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: var(--orange);
}

.taste-list li:nth-child(even) {
  border: 1px solid #fd9222;
  background-color: #fff;
}

.taste-list li:nth-child(3) {
  background-color: var(--main);
}

.taste-list li:last-child {
  background-color: var(--main);
}

.card-over {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke: #fafafa;
}

.taste-item:nth-child(even) .card-over {
  stroke: var(--orange);
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--accent);
  align-self: flex-start;
}

.taste-item:nth-child(even) > h3 {
  color: var(--main);
}

@media screen and (max-width: 767px) {
  .taste-list li:nth-last-child(-n + 3) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .taste {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .taste-title {
    max-width: 412px;
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .taste {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .taste-list {
    row-gap: 24px;
  }

  .taste-item {
    width: calc((100% - 32px * 3) / 4);
    padding: 28px 23px;
    gap: 36px;
  }
}
